# ignore all the original datasets in traceset1

data/traceset1/*.csv
data/trace_by_ID/*.csv
data/new_trace_by_ID/*.csv
data/trace_original/*.csv

ipynb/figs/*
ipynb/figs_detected/*
ipynb/__pycache__/

src_5/NewEnv/new_env.egg-info
.vscode/launch.json

__pycache__/

.ipynb_checkpoints/
*.pyc
